#main-navbar {
  background-color: rgb(32, 178, 170);
  border: 5px solid rgb(0, 139, 139);
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  text-decoration: none;
  left: 50%;
}

#main-navbar ul li {
  float: left;  
  position: relative;
  right: 50%;
  display: block;
}

#navbar-container ul li a {
  text-align: center;
  display: block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
}

#navbar-container ul li a:hover {
  background-color: rgb(0, 128, 128);
  text-decoration: underline overline;
}

body{
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: rgb(224, 255, 255);
}

h1 {
  font-family: verdana, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
}

h2 {
  font-family: verdana, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

h4 {
  font-family: verdana, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

p {
  font-family: Verdana, Sans-Serif;
  color: black;
}

ul {
  list-style-type: square;
}

img { 
  outline-color: rgb(0, 139, 139);
  outline-width: 5px;
  margin: 50px;
}

iframe {
  outline-color: rgb(0, 139, 139);
  outline-width: 5px;
  margin: 50px;
}
