#main-navbar {
  background-color: rgb(32, 178, 170);
  border: 5px solid rgb(0, 139, 139);
  overflow: hidden;
  text-align: center;
}

#navbar-container {
  text-align: center;
  width: 100%;
  position: relative;
  right: 50%;
  left: 50%;
}

#main-navbar ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

#main-navbar ul li {
  position: relative;
}

#navbar-container ul li a {
  text-align: center;
  display: block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
}

#navbar-container ul li a:hover {
  background-color: rgb(0, 128, 128);
  text-decoration: underline overline;
}

body{
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: rgb(224, 255, 255);
}

h1 {
  font-family: Verdana, Sans-Serif;
  text-align: center;
  color: black;
  font-weight: bold;
}

ul {
  list-style-type: square;
}
